header {
    background-color: #1c283a;
    box-shadow: 1px 1px 9px 1px rgb(153 185 237);
}

main {
    background-color: #1c283a;
}

footer {
    background-color: #1c283a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #e8e2e2;
}

p {
    color: #e8e2e2;
}

span,
a {
    color: #e8e2e2;
}

#mobileMenu {
    background-color: #deecfd;
}

.user_menu button {
    border: navajowhite;
    color: #fff;
    background: linear-gradient(to right, #95c3f3, #b86bbd);
}

.whom {
    background: linear-gradient(to top, #415877 20%, #314156 50%, #43556d 80%);
    box-shadow: 1px 1px 9px 1px rgb(153 185 237);
}

.btn {
    background-color: #1c283a;
    color: #fff;
    background: linear-gradient(to right, #95c3f3, #b86bbd);
}

#item {
    box-shadow: 0px 3px 7px 2px rgb(74 81 130);
    background: #454a75;
    color: #fff;
}

a.active-item {
    background: #aa8ed3!important;
}

a.active-item {
    box-shadow: 0px 3px 7px 2px rgb(176 128 202)!important;
}

.fa-check-circle {
    color: #b17fc9;
}

.wrap-image i {
    color: #2b303e;
}

.zero-two,
.whom-header {
    background: linear-gradient(to top, #1b283a 20%, #314156 50%, #43556d 80%);
    box-shadow: 1px 1px 9px 1px rgb(154 182 235);
}

.messenger_lists {
    background-color: #444a75;
    box-shadow: 0px 4px 10px 4px rgb(152 188 239);
}

.messenger_lists p {
    color: #fff;
}

.theme i:hover {
    color: #fffbed;
}

.menu>ul.menu>li.item a:hover,
.user_menu:hover,
footer p a:hover {
    color: #9ab7ec;
}

.content__card {
    box-shadow: 1px 1px 9px 1px rgb(152 189 239);
}

.user_menu a button:hover,
.btn:hover {
    background: linear-gradient(to right, #b86bbd, #95c3f3);
}

#item:hover,
a.active-item {
    background: #aa8ed3;
    box-shadow: 0px 3px 7px 2px rgb(176 128 202)!important;
}

.rec412 i {
    color: #e7eff9;
}

.wrap-image:hover i {
    color: #99b9ed;
}

.slog span {
    color: #d6d9dc;
}

.theme i {
    color: #9e9999;
}

.user_menu a button {
    color: #fff;
}


/* Constructor */

.constructor {
    background-color: #324661;
}

.constructor__conteiner-card {
    background-color: #1c283a;
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
}

.constructor__conteiner-card_add {
    background-color: #324661;
    border-color: white;
    color: #fff;
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
}

.constructor__conteiner-card_add>.fa-plus-circle {
    color: #6f9ceb;
}

.constructor__conteiner-settings {
    background-color: #1c283a;
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
}

#key input {
    background-color: #405473a6;
    color: #ffffff;
}

#open_widget_messenger,
#open_widget_plugin {
    background-color: #1c283a;
    box-shadow: 1px 1px 4px 2px rgb(97 122 162);
}

.result {
    background-color: #1c283a;
    border: solid 0.2em #1c3457;
}

#result_construct {
    box-shadow: 1px 1px 9px 1px rgb(153 185 237);
}


/* Line's */

.line {
    border-color: #6e9ceb;
}

.line-left {
    border-color: #6e9ceb;
}


/* widget */

.messenger {
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
    background-color: #1c283a;
}

.messenger__item {
    background-color: #1c283a;
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
}

.plugins {
    background: #fff;
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
}

.plugins__list-item {
    background-color: #1c283a;
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
}

.success_window {
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
    background-color: #1c283a;
}

i.fa-check {
    color: #49d649;
}

.plugin_active {
    background-color: #bad8ff;
}

#result_construct,
label {
    color: #fff;
}

#open_widget_messenger,
#open_widget_plugin,
.messenger__item,
#close_widget_plugin {
    color: #fff;
}

#widget_plugin {
    background-color: #1c283a;
}

.plugin_active {
    background-color: #2c3e54;
}


/* Hover */

.plugins__list-item:hover {
    box-shadow: 1px 1px 8px 2px rgb(95 106 125);
    background-color: #1b2e40;
}