header {
    background-color: #fff;
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
}

footer {
    background-color: #deecfd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1c3457;
}

p {
    color: #1c3457;
}

span,
a {
    color: #1c3457;
}

#mobileMenu {
    background-color: #deecfd;
}

.user_menu button {
    border: navajowhite;
    color: #fff;
    background: linear-gradient(to right, #95c3f3, #b86bbd);
}

.whom-header {
    background: linear-gradient(to top, #deecfd 20%, #eef4fb 50%, #ffffff 80%);
}

.whom {
    background: linear-gradient(to top, #deecfd 20%, #eef4fb 10%, #deecfd 20%);
}

.btn {
    background-color: #222;
    color: #fff;
    background: linear-gradient(to right, #95c3f3, #b86bbd);
}

#item {
    box-shadow: 0px 3px 7px 2px rgb(74 81 130);
    background: #454a75;
    color: #fff;
}

a.active-item {
    background: #aa8ed3!important;
}

a.active-item {
    box-shadow: 0px 3px 7px 2px rgb(176 128 202)!important;
}

.fa-check-circle {
    color: #b17fc9;
}

.wrap-image i {
    color: #2b303e;
}

.zero-two {
    background: linear-gradient(to top, #deecfd 20%, #eef4fb 50%, #ffffff 80%);
    background-color: #d3d6d8;
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 10%);
}

.messenger_lists {
    background-color: #444a75;
    box-shadow: 0px 4px 10px 4px rgb(152 188 239);
}

.messenger_lists p {
    color: #fff;
}

.theme i:hover {
    transition: .6s;
    color: #222;
}

.menu>ul.menu>li.item a:hover,
.user_menu:hover,
footer p a:hover {
    color: #c05a95;
}

.content__card {
    box-shadow: 1px 1px 9px 1px rgb(60 64 67 / 30%);
}

.user_menu a button:hover,
.btn:hover {
    background: linear-gradient(to right, #b86bbd, #95c3f3);
}

#item:hover,
a.active-item {
    background: #aa8ed3;
    box-shadow: 0px 3px 7px 2px rgb(176 128 202)!important;
}

.rec412 i {
    color: #e7eff9;
}

.wrap-image:hover i {
    color: #99b9ed;
}

.slog span {
    color: #2a3842;
}

.theme i {
    color: #9e9999;
}

.user_menu a button {
    color: #fff;
}